{% extends 'template.html' %}

{% block content %}
<h3 class="pb-3 mb-2 font-italic border-bottom">
    <i class="fas fa-newspaper text-primary"></i> Posts recentes
</h3>
<div class="section pt-4 pb-4">

    <!-- Inicio Card Post -->
    {% for post in posts %}
    <a href="#" class="text-decoration-none text-reset">
        <div class="card mb-2 mt-2">
            <div class="card-body">
                <h5 class="card-title">{{ post['title'] }}</h5>
                <p class="card-text">{{ post['content'] }}...</p>
            </div>
            <div class="card-footer text-body-secondary d-flex justify-content-between">
                <div class="d-flex justify-content-between mb-2">
                    <span class="me-4">
                        <i class="fa-solid fa-calendar me-2"></i>
                        {{ post['created_at'] if post['created_at'] else '' }}
                    </span>
                    <span><i class="fa-solid fa-user me-2"></i>{{ post['user_id'] }}</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span class="me-4"><i class="fa-solid fa-comment me-2"></i>000 comentários</span>
                    <span><i class="fa-solid fa-thumbs-up me-2"></i>000 Likes</span>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
    <!-- Fim Card Post -->

</div>
<nav class="blog-pagination">
    {% if page > 1 %}
    <a class="btn btn-outline-primary" href="{{ url_for('index', page=page-1) }}"><i class="fas fa-arrow-left"></i> Mais antigos</a>
    {% else %}
    <a class="btn btn-outline-primary disabled" href="#"><i class="fas fa-arrow-left"></i> Mais antigos</a>
    {% endif %}

    {% if page < total_pages %}
    <a class="btn btn-outline-secondary" href="{{ url_for('index', page=page+1) }}">Mais novos <i class="fas fa-arrow-right"></i></a>
    {% else %}
    <a class="btn btn-outline-secondary disabled" href="#">Mais novos <i class="fas fa-arrow-right"></i></a>
    {% endif %}
</nav>

{% endblock %}