{% extends 'template.html' %}

{% block content %}
<h3 class="pb-3 mb-2 font-italic border-bottom">
    <i class="fas fa-newspaper text-primary"></i> Posts recentes
</h3>
<div class="section pt-4 pb-4">

    <!-- Inicio Card Post -->
    {% for post in posts %}
    <a href="{{ url_for('post_view', id=post['post_id']) }}" class="text-decoration-none text-reset">
        <div class="card mb-2 mt-2">
            <div class="card-body">
                <h5 class="card-title">{{ post['title'] }}</h5>
                <p class="card-text">{{ post['content'] }}...</p>
            </div>
            <div class="card-footer text-body-secondary d-flex justify-content-between">


                <div class="w-100 d-flex justify-content-between align-items-center px-2">
                    <!-- Left side: date and user -->
                    <div class="d-flex align-items-center w-75">
                        <span class="me-4">
                            <i class="fa-solid fa-calendar me-2"></i>
                            {{ post['created_at'] if post['created_at'] else '' }}
                        </span>
                        <a href="{{ post['user_id'] }}"><i class="fa-solid fa-user me-2"></i>@{{ post['username'] }}</a>
                    </div>
                    <!-- Right side: comments and likes -->
                    <div class="d-flex align-items-center w-25">
                        <span class="me-4"><i class="fa-solid fa-comment me-2"></i>000</span>
                        <span><i class="fa-solid fa-thumbs-up me-2"></i>000</span>
                    </div>
                </div>


            </div>
        </div>
    </a>
    {% endfor %}
    <!-- Fim Card Post -->

</div>
<nav class="blog-pagination">
    {% if page > 1 %}
    <a class="btn btn-outline-primary" href="{{ url_for('index', page=page-1) }}"><i class="fas fa-arrow-left"></i> Mais antigos</a>
    {% else %}
    <a class="btn btn-outline-primary disabled" href="#"><i class="fas fa-arrow-left"></i> Mais antigos</a>
    {% endif %}

    {% if page < total_pages %}
    <a class="btn btn-outline-secondary" href="{{ url_for('index', page=page+1) }}">Mais novos <i class="fas fa-arrow-right"></i></a>
    {% else %}
    <a class="btn btn-outline-secondary disabled" href="#">Mais novos <i class="fas fa-arrow-right"></i></a>
    {% endif %}
</nav>

{% endblock %}