{% extends 'template.html' %}

{% block head %}
<script src="{{ url_for('static', filename='js/markdown.js') }}"></script>
{% endblock %}

{% block content %}
<h3 class="pb-3 mb-2 font-italic border-bottom">
    <i class="fas fa-newspaper text-primary"></i> Criar Post
</h3>
<form method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Título</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Conteúdo</label>
        <textarea class="form-control" id="content" name="content" rows="20"></textarea>
        <script>
            var simplemde = new SimpleMarkdownEditor({ element: document.getElementById("content") });
            document.querySelector('form').addEventListener('submit', function() {
            document.getElementById("content").value = simplemde.value();
            });
        </script>
    </div>
    <div class="mb-3">
        <label for="visibility" class="form-label">Visibilidade</label>
        <select class="form-select" id="visibility" name="visibility">
            <option value="public">Público</option>
            <option value="private" selected>Privado</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary w-100">Publicar</button>
</form>
{% endblock %}